<div class="info-window-prototype">
    <div class="tweet-info-window">
        <p class="tweet-message">
            {message}
        </p>
        <p>
            <a href="http://www.twitter.com/{screen_name}/status/{id}" target="_blank" class="tweet-view">
                {{ 'tweet.view' | trans([], 'VichSf2TweetsBundle') }} &raquo;
            </a>
        </p>
    </div>
</div>