<div class="tweet-info-window">
    <p>
        {{ obj.formattedMessage | raw }}
    </p>
    <p>
        <a href="http://www.twitter.com/{screen_name}/status/{id}" target="_blank">
            {{ 'tweet.view' | trans([], 'VichSf2TweetsBundle') }} &raquo;
        </a>
    </p>
</div>