html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Istok Web', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #CCCCCC;
}

a { 
    color: #0069d6;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    cursor: pointer;
}

a:hover {
    color: #00438a;
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.topbar {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
}

.topbar a, .bottombar a {
    color: #bfbfbf;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar .brand a:hover {
    background-color: #333;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    text-decoration: none;
}

.topbar-inner {
    background-color: #3A90F2;
    background-color: #3A90F2;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4099FF), to(#3A90F2));
    background-image: -moz-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -ms-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4099FF), color-stop(100%, #3A90F2));
    background-image: -webkit-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -o-linear-gradient(top, #4099FF, #3A90F2);
    background-image: linear-gradient(top, #4099FF, #3A90F2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4099FF', endColorstr='#3A90F2', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 12px;
    margin-left: -20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
    line-height: 1;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
}

.bottombar-inner {
    height: 30px;
    background-color: #3A90F2;
    background-color: #3A90F2;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4099FF), to(#3A90F2));
    background-image: -moz-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -ms-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4099FF), color-stop(100%, #3A90F2));
    background-image: -webkit-linear-gradient(top, #4099FF, #3A90F2);
    background-image: -o-linear-gradient(top, #4099FF, #3A90F2);
    background-image: linear-gradient(top, #4099FF, #3A90F2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4099FF', endColorstr='#3A90F2', GradientType=0);
}

.footer-nav {
    
}

.footer-nav ul {
    list-style: none;
    margin: 0px;
    padding-top: 7px;
}

.footer-nav ul li {
    float: left;
    margin-left: 20px;
}

.bottombar a {
    color: #FFFFFF;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.tagline {
    font-style: italic;
}

.container-fluid {
    position: relative;
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    zoom: 1;
}

.container-fluid:before, .container-fluid:after, .footer-nav ul {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}

.container-fluid:after {
    clear:both;
}

.map {
    height: 100%;
    position: relative;
}

.map .map-inner {
    position: absolute;
    top: 40px;
    bottom: 30px;
    left: 255px;
    right: 0px;
    border-left: solid 1px #AAAAAA;
}

.sidebar {
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 30px;
    width: 250px;
    background-color: #CCC;
    box-shadow: inset 0 0 5px 5px #888;
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px #888;
    color: #404040;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar-inner {
    
}

p.description {
    margin: 7px 0px 0px 0px;
    padding: 0px;
}

.tweet {
    border-color: white white #AEAEAE;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #CCC;
    border-top: 1px solid white;
    border-bottom: 1px solid #AEAEAE;
    background: #EDEDED url('../images/tweet-bg.png') 0 0 repeat-x;
    overflow: hidden;
}

.tweet-info-window {
    width: 250px;
    color: #000000;
}

.new-tweet {
    position: absolute;  
    width: 170px;  
    height: 24px;
    top: 6px;  
    left: 50%;  
    margin-left: -100px;  
    background-color: #FFFF00;
    font-style: italic;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFFBB), to(#FFFF00));
    background-image: -moz-linear-gradient(top, #FFFFBB, #FFFF00);
    background-image: -ms-linear-gradient(top, #FFFFBB, #FFFF00);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFBB), color-stop(100%, #FFFF00));
    background-image: -webkit-linear-gradient(top, #FFFFBB, #FFFF00);
    background-image: -o-linear-gradient(top, #FFFFBB, #FFFF00);
    background-image: linear-gradient(top, #FFFFBB, #FFFF00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFBB', endColorstr='#FFFF00', GradientType=0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    display: none;
    color: #000000;
}

.tweet-prototype, .info-window-prototype {
    display: none;
    visibility: hidden;
}

a.repo {
    text-decoration: underline;
}

#about {
    color: #000000;
    display: none;
}
.modal-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11000;
  width: 560px;
  margin: -250px 0 0 -250px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .close {
  margin-top: 7px;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  background-color: #f5f5f5;
  padding: 14px 15px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 0;
}
.modal-footer:before, .modal-footer:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn {
  float: right;
  margin-left: 5px;
}