<div class="tweet-prototype">
    <div class="tweet">
        <a href="http://www.twitter.com/{screen_name}" target="_blank">
            <img src="{avatar_url}" alt="{screen_name}" title="{screen_name}" />
        </a>
        <a href="http://www.twitter.com/{screen_name}" target="_blank">
            @{screen_name}
        </a>
        <p class="tweet_message">
            {message}
        </p>
    </div>
</div>