<div class="tweet-prototype">
    <div class="tweet">
        <a href="" target="_blank" class="tweet-avatar">
            <img src="" alt="" title="" />
        </a>
        <a href="" target="_blank" class="tweet-username">
            
        </a>
        <p class="tweet-message">
            
        </p>
        <p>
            <a href="" target="_blank" class="tweet-view">
                {{ 'tweet.view' | trans([], 'VichSf2TweetsBundle') }} &raquo;
            </a>
        </p>
    </div>
</div>